div.login-form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.login-form-content {
    border: 2px solid #bbb;
    border-radius: 7px;
    padding: .5em;
    margin: 3em auto;
}

div.title-form-container {
    display: flex;
    justify-content: center;
}

h1.paymybuddy-title {
    background: #6EB861;
    background: -webkit-linear-gradient(to right, #6EB861 0%, #8EC257 100%);
    background: -moz-linear-gradient(to right, #6EB861 0%, #8EC257 100%);
    background: linear-gradient(to right, #6EB861 0%, #8EC257 100%);
    text-transform: capitalize;
    text-align: center;
    display: inline-flex;
    border-radius: 7px;
    justify-content: center;
    padding-right: 1em !important;
    padding-left: 1em !important;
}

.paymybuddy-title, .login-btn {
    font-size: 20px !important;
    color: #fff !important;
}

.login-btn {
    padding-left: 2.5em !important;
    padding-right: 2.5em !important;
}

.paymybuddy-logo {
    background: #6EB861;
    background: -webkit-linear-gradient(to right, #6EB861 0%, #8EC257 100%);
    background: -moz-linear-gradient(to right, #6EB861 0%, #8EC257 100%);
    background: linear-gradient(to right, #6EB861 0%, #8EC257 100%);
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    display: inline-flex;
    border-radius: 7px;
    justify-content: center;
    padding: 0.5em 1em;
}

.paymybuddy-link {
    color: #6EB861;
    text-decoration: none;
}
.paymybuddy-link:hover {
    color: #000;
    text-decoration: none;
}
